body {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display: grid;
    align-items: center;
    justify-content: center;
}

/* div {
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

div {
    background-color: aquamarine;
    
}